$primary-color: #35c4c4; // Couleur principale
$secondary-color: #f2f2f2; // Couleur de fond légère
$text-color: #333; // Couleur de texte
$header-font-size: 2.5rem;
$subheader-font-size: 1.2rem;
$footer-font-size: 1rem;
$dialog-background: #fff;

:host {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: $header-font-size;
    color: #F3E9D1;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $subheader-font-size;
    color: #fff;
  }
}


