$primary-color: #2a8d84; // Couleur principale
$secondary-color: #f2f2f2; // Couleur de fond légère
$text-color: #333; // Couleur de texte
$header-font-size: 2.5rem;
$subheader-font-size: 1.2rem;
$footer-font-size: 1rem;
$dialog-background: #fff;

:host {
  background-color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

  p {
    font-size: $footer-font-size;
    color: $text-color;
  }

  p:last-child {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #777;
  }
}


