:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  footer {
    background-color: #121212; /* légèrement plus foncé que le header */
    color: #aaaaaa;
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 2px solid #e50914; /* rappel du rouge */
    p {
      margin: 0.3rem 0;
    }
  }
}


