<div class="employee-card">
  <h3>Détails de l'employé</h3>

  <div class="card-content">

      <div class="employee-details">
        <h4>{{ employee.lastName }}</h4>
        <h4>{{ employee.firstName }}</h4>
        <p><strong>Email : </strong>{{ employee.email }}</p>
        <p><strong>Téléphone : </strong>{{ employee.phoneNumber }}</p>
        <p><strong>Poste : </strong>{{ employee.jobTitle }}</p>
        <p><strong>Disponibilité : </strong>{{ employee.isAvailable ? 'Disponible' : 'Indisponible' }}</p>
      </div>
  </div>
</div>
