<div class="home-container">
  <h1>{{ welcomeMessage() }}</h1>

  <div *ngIf="!currentUser()" class="not-logged-in">
    <p>Bienvenue sur notre plateforme 🎉</p>
    <p>Connectez-vous pour découvrir toutes nos fonctionnalités.</p>
  </div>

  <div *ngIf="currentUser()" class="logged-in">
    <p>Merci de votre confiance 😊</p>
    <p>Explorez vos projets et continuez à bâtir de grandes choses avec nous 🚀</p>
    </div>

  <div class="illustration">
    <img src="assets/img/accueil.jpg" alt="Illustration d'accueil" />
  </div>
</div>
