<div *ngIf="isLoading" class="loading">Chargement...</div>

<div *ngIf="!isLoading && !project" class="not-found">
  <p>Projet introuvable.</p>
</div>

<div *ngIf="!isLoading && project" class="project-details">

  <h1 class="project-title">{{ project.name }}</h1>
  <p><strong>Description :</strong> {{ project.description }}</p>
  <p><strong>Status :</strong> {{ project.status }}</p>
  <p><strong>Dates :</strong> {{ project.startingDate }} ➔ {{ project.finishingDate }}</p>
  <p><strong>Budget :</strong> {{ project.budget }}</p>

  <section *ngIf="project?.responsable" class="section">
    <h2>Responsable</h2>
    <p>{{ project.responsable.firstname }} {{ project.responsable.lastname }} — {{ project.responsable.email }}</p>
  </section>

  <div class="infos-project">
    <section *ngIf="project?.stages" class="section">
      <h2>Etapes</h2>
      <button (click)="onShowStageList()" class="btn">
        {{ showStageList ? 'Masquer les étapes' : 'Voir les étapes' }}
      </button>

      <ul *ngIf="showStageList">
        <li *ngFor="let stage of project.stages">
          <strong>{{ stage.name }}</strong> : {{ stage.description }}
        </li>
      </ul>

      <button (click)="toggleFormVisibility()" class="btn-primary">
        {{ isFormVisible ? 'Annuler' : 'Ajouter une étape' }}
      </button>

      <form *ngIf="isFormVisible" #stageForm="ngForm" (ngSubmit)="onSubmitStageForm(stageForm)" class="form">
        <input type="text" placeholder="Nom du stage" [(ngModel)]="newStage.name" name="name" required />
        <textarea placeholder="Description" [(ngModel)]="newStage.description" name="description" required></textarea>
        <label for="startingDate">Date de début</label>
        <input id="startingDate" type="date" [(ngModel)]="newStage.startingDate" name="startingDate" required />
        <label for="finishingDate">Date de fin</label>
        <input id="finishingDate" type="date" [(ngModel)]="newStage.finishingDate" name="finishingDate" required />
        <select [(ngModel)]="newStage.status" name="status" required>
          <option value="" disabled>Sélectionner un statut</option>
          <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
        </select>
        <button type="submit" [disabled]="!stageForm.valid" class="btn-primary">Ajouter</button>
      </form>
    </section>

    <section class="section">
      <h2>Employés</h2>
      <button (click)="onShowEmployeeList()" class="btn">Voir les employés</button>
      <ul *ngIf="showEmployeeList">
        <li *ngFor="let emp of project.employes">
          {{ emp.firstname }} {{ emp.lastname }} ({{ emp.jobTitle }})

          <!-- Bouton avec une icône de message -->
          <button (click)="toggleEmailTextArea(emp.id)" class="btn">
            <i class="fas fa-envelope">Email</i>
          </button>

          <div *ngIf="emailVisibility.get(emp.id)" class="email-text-area">
            <h4>Contenu du mail</h4>
            <textarea placeholder="Écrivez votre message ici..."></textarea>

            <!-- Bouton Envoyer, visible seulement quand la zone de texte est activée -->
            <button *ngIf="emailVisibility.get(emp.id)" (click)="sendEmail(emp.id)" class="btn btn-send">
              Envoyer
            </button>

            <!-- Alerte email envoyé, qui disparaît après quelques secondes -->
            <div *ngIf="emailSent.get(emp.id)" class="alert">
              <p>Email envoyé !</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="add-employee">
        <input type="email" placeholder="Email de l'employé" [(ngModel)]="newEmploye.email" name="searchEmail" required />
        <button (click)="onSearchEmployee(newEmploye.email)" class="btn-primary">Rechercher</button>
      </div>

      <form *ngIf="showEmployeeForm" #employeForm="ngForm" (ngSubmit)="onSubmitEmployeForm(employeForm)" class="form">
        <input type="text" placeholder="Prénom" [(ngModel)]="newEmploye.firstname" name="firstname" required />
        <input type="text" placeholder="Nom" [(ngModel)]="newEmploye.lastname" name="lastname" required />
        <input type="text" placeholder="Titre du poste" [(ngModel)]="newEmploye.jobTitle" name="jobTitle" required />
        <input type="email" [(ngModel)]="newEmploye.email" name="email" readonly required />
        <input type="tel" placeholder="Numéro de téléphone" [(ngModel)]="newEmploye.phoneNumber" name="phoneNumber" required />

        <button type="button" (click)="onCancelEmployeeForm()" class="btn">Annuler</button>
        <button type="submit" class="btn-primary" [disabled]="!employeForm.valid">Ajouter</button>
      </form>
    </section>

    <div class="equipement-div">
      <section class="section">
        <h2>Équipements</h2>
        <button (click)="onShowEquipementList()" class="btn">Voir les équipements</button>
        <ul *ngIf="showEquipementList">
          <li *ngFor="let eq of project.equipements">
            {{ eq.name }} ({{ eq.stock }} en stock)
          </li>
        </ul>

        <button (click)="onShowAddEquipementForm()" class="btn-primary">Ajouter un équipement</button>

        <div class="form-wrapper">
          <form *ngIf="showAddEquipementForm" #equipementForm="ngForm" (ngSubmit)="onSubmitEquipementForm(equipementForm)" class="form form-equipement">

            <label for="name">Nom</label>
            <input id="name" type="text" placeholder="Nom" [(ngModel)]="newEquipement.name" name="name" required />

            <label for="description">Description</label>
            <input id="description" type="text" placeholder="Description" [(ngModel)]="newEquipement.description" name="description" required />

            <label for="model">Modèle</label>
            <input id="model" type="text" placeholder="Modèle" [(ngModel)]="newEquipement.model" name="model" required />

            <label for="type">Type</label>
            <input id="type" type="text" placeholder="Type" [(ngModel)]="newEquipement.type" name="type" required />

            <label for="serialNumber">Numéro de série</label>
            <input id="serialNumber" type="text" placeholder="Numéro de série" [(ngModel)]="newEquipement.serialNumber" name="serialNumber" required />

            <label for="stock">Stock</label>
            <input id="stock" type="number" placeholder="Stock" [(ngModel)]="newEquipement.stock" name="stock" required />

            <label for="stockage">Emplacement</label>
            <input id="stockage" type="text" placeholder="Emplacement" [(ngModel)]="newEquipement.stockagePlace" name="stockage" required />

            <label for="condition">Condition</label>
            <select id="condition" [(ngModel)]="newEquipement.condition" name="condition" required>
              <option value="NEW">Nouveau</option>
              <option value="GOOD">Bon état</option>
              <option value="BROKEN">Cassé</option>
              <option value="TO_BE_REVISED">À réviser</option>
            </select>

            <label for="acquisitionDate">Date d'acquisition</label>
            <input id="acquisitionDate" type="date" [(ngModel)]="newEquipement.acquisitionDate" name="acquisitionDate" />

            <label for="plannedRevisionDate">Date de révision prévue</label>
            <input id="plannedRevisionDate" type="date" [(ngModel)]="newEquipement.plannedRevisionDate" name="plannedRevisionDate" />

            <label for="lastRevision">Dernière révision</label>
            <input id="lastRevision" type="date" [(ngModel)]="newEquipement.lastRevision" name="lastRevision" />

            <label for="ownerName">Nom du propriétaire</label>
            <input id="ownerName" type="text" placeholder="Nom du propriétaire" [(ngModel)]="ownerName" (ngModelChange)="searchRentingCompany(ownerName)" name="ownerName" />

            <div *ngIf="foundOwner" class="owner-info">
              <p><strong>Propriétaire :</strong> {{ foundOwner.name }}</p>
              <p><strong>Adresse :</strong> {{ foundOwner.address }}</p>
              <p><strong>Téléphone :</strong> {{ foundOwner.phoneNumber }}</p>
            </div>

            <button type="submit" class="btn-primary" [disabled]="!equipementForm.valid">Ajouter</button>
          </form>
        </div>
      </section>
    </div>

  </div>

  <section class="calendar-section">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </section>

</div>
