<div *ngIf="isLoading">Chargement...</div>
<div *ngIf="!isLoading && !project">
  <p>Projet introuvable.</p>
</div>

<div *ngIf="!isLoading && project">
  <h2>{{ project.name }}</h2>
  <p><strong>Description:</strong> {{ project.description }}</p>
  <p><strong>Status:</strong> {{ project.status }}</p>
  <p><strong>Début:</strong> {{ project.startingDate }}</p>
  <p><strong>Fin:</strong> {{ project.finishingDate }}</p>
  <p><strong>Responsable:</strong> {{ project.responsableEmail }}</p>
  <p><strong>Budget:</strong> {{ project.budget}}</p>
  <h3>Employés</h3>
  <ul>
    <li *ngFor="let emp of project.employees">
      {{ emp.firstName }} {{ emp.lastName }} ({{ emp.jobTitle }})
    </li>
  </ul>
</div>
